Node-Red Server/Telelab.json
[{"id":"9602e4dc.b193e8","type":"tab","label":"Main","disabled":false,"info":""},{"id":"7764049a.baef5c","type":"tab","label":"File","disabled":false,"info":""},{"id":"de735fbd.03b6a","type":"subflow","name":"PSoC Potensiostat","info":"","category":"","in":[{"x":60,"y":380,"wires":[{"id":"7d7b4f05.91cb2"}]}],"out":[{"x":1340,"y":560,"wires":[{"id":"1a1b8feb.448ff","port":0},{"id":"887376bf.2eb1c8","port":0},{"id":"84c15326.b76f7","port":0},{"id":"740eba2d.a76524","port":0}]}],"env":[{"name":"fileDirectory","type":"str","value":"D:\\Dias\\TA-Dias\\node red\\"},{"name":"deviceTopic","type":"str","value":"pot/cmd"},{"name":"tempFile","type":"str","value":"D:\\Dias\\TA-Dias\\node red\\temp_pot.csv"}],"color":"#DDAA99"},{"id":"542271b6.bba8b","type":"subflow","name":"Termoelektrik","info":"","category":"","in":[{"x":120,"y":160,"wires":[{"id":"1f8d1234.a969fe"}]}],"out":[{"x":1020,"y":680,"wires":[{"id":"bf8d0fa9.282e9","port":0}]}],"env":[{"name":"fileDirectory","type":"str","value":"D:\\Dias\\TA-Dias\\node red\\"},{"name":"tempFile","type":"str","value":"D:\\Dias\\TA-Dias\\node red\\temp_termo.txt"},{"name":"deviceTopic","type":"str","value":"ITB/TF/labTF3/kit01/01/input/cmd"}],"color":"#DDAA99"},{"id":"2589ec77.9dba04","type":"subflow","name":"Serial Input Monitor","info":"","category":"","in":[{"x":140,"y":120,"wires":[{"id":"4b4a49e8.684e98"}]}],"out":[{"x":740,"y":200,"wires":[{"id":"eb75c1a5.689ad","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"508301ef.d6c0b","type":"subflow","name":"Serial Input Format","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"6b97d0af.3ab2c"}]}],"out":[{"x":380,"y":120,"wires":[{"id":"87ba03b3.0b3c7","port":0}]},{"x":380,"y":160,"wires":[{"id":"397dd94a.2b4d16","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ddda3e9e.5d73a","type":"group","z":"2589ec77.9dba04","name":"General Monitor","style":{"label":true},"nodes":["4b4a49e8.684e98","16885430.005d1c","eb75c1a5.689ad","ac5604dd.623b38","49d7561e.9f8a58","f2dab62e.c451b8"],"x":194,"y":79},{"id":"e84dd261.7bf5c","type":"group","z":"de735fbd.03b6a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["70f5645d.90803c"],"x":374,"y":339,"w":192,"h":82},{"id":"f289adb9.43466","type":"group","z":"de735fbd.03b6a","name":"Chart","style":{"label":true},"nodes":["8f959170.ce264","8fa6e97.a6e9518","209bc950.c84e66","6c5365e.424639c","816af54e.e6c7e8","5115fbae.23e094","2f7b818f.071c1e","75a693f8.6af4ec","a7aa5edd.601f7"],"x":634,"y":279,"w":832,"h":182},{"id":"f2ec8474.96f6f8","type":"group","z":"de735fbd.03b6a","name":"Device Input Form","style":{"label":true},"nodes":["5e9e6d02.386a24","1a1b8feb.448ff","58681907.c126b8","f6dead76.a6ae7","b8105814.8c9b88","7f6ae352.c4c7fc","887376bf.2eb1c8","84c15326.b76f7","740eba2d.a76524"],"x":634,"y":479,"w":632,"h":282},{"id":"ff93bc75.331a7","type":"group","z":"de735fbd.03b6a","name":"Choose Method","style":{"label":true},"nodes":["96b11912.799e08","44a7d6cd.ba0e08","db390f82.8dc9d","4a62b63d.0c3f78","201c9207.7eaf9e","533a5a91.a04ca4","c35c63e9.8412e","49a097b4.442cf8","10fb5dca.dba872"],"x":634,"y":19,"w":812,"h":242},{"id":"dc40d590.b20f58","type":"group","z":"de735fbd.03b6a","name":"Save File","style":{"label":true},"nodes":["b74fdd37.5e4b6","dcd28ce7.f6a9","ae7f0f8c.16583","8284cf62.d71cb","4b763ea9.0078f","2fc6fdcd.390ad2","9dd709df.579088","6ec7bc15.7fd284","da2bdcb0.70bc5"],"x":634,"y":779,"w":732,"h":202},{"id":"10868b6.90f2975","type":"group","z":"542271b6.bba8b","name":"Device Input Form","style":{"label":true},"nodes":["8ab2adc8.51f85","bfe2c022.38295","82b4fe95.84423","bf8d0fa9.282e9"],"x":334,"y":599},{"id":"98f9cfee.d5494","type":"group","z":"9602e4dc.b193e8","name":"PSoC-Potensiostat Input","style":{"label":true},"nodes":["e1786041.99d47","d3fd20f0.87f3a","ef05c705.ea1748"],"x":244,"y":299,"w":262,"h":182},{"id":"55bde9ed.3f83c8","type":"group","z":"9602e4dc.b193e8","name":"Termoelektrik 1 Input","style":{"label":true},"nodes":["c809e951.358598"],"x":234,"y":179,"w":312,"h":82},{"id":"8d017bc1.073408","type":"group","z":"9602e4dc.b193e8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["60b7cbee.891434","96a1752c.9bf608","4effa46f.f4049c","87c5f2ad.bf361","3811f581.6eb42a","c29fdc5d.3939d","29c4bac3.06a9b6","a55436d8.72bf58","17f7c335.98676d","ca9b15ab.1b0628"],"x":294,"y":919,"w":872,"h":222},{"id":"4a45d546.67fe8c","type":"group","z":"542271b6.bba8b","name":"Save File","style":{"label":true},"nodes":["316b2768.1e2ca8","71a6cf9.622c13","37f31c03.cca624","7120470.efc7cb8","ea5367b5.7a7be8","855c62d0.b592c","4dfdde46.97db2","53d4d9c.33ed428","52188836.5e6688"],"x":274,"y":739},{"id":"39891f03.a009a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Tele-Lab ","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"740b9fb6.632d3","type":"mqtt-broker","name":"","broker":"156.67.220.211","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"72a7f0c3.c53ce","type":"ui_group","name":"Serial Input Log","tab":"c488f94.b6bdf08","order":7,"disp":true,"width":"8","collapse":true},{"id":"c488f94.b6bdf08","type":"ui_tab","name":"Kit Lab TF","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1f941fce.65284","type":"ui_group","name":"PSoC 1","tab":"c488f94.b6bdf08","order":2,"disp":true,"width":"12","collapse":true},{"id":"ba467461.a9b008","type":"serial-port","serialport":"COM8","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\r\\n","bin":"false","out":"char","addchar":"\\r\\n","responsetimeout":"10000"},{"id":"311f12a4.3d2b9e","type":"mqtt-broker","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"160e81fb.f1c86e","type":"ui_group","name":"File Browser","tab":"","order":1,"disp":true,"width":"18","collapse":false},{"id":"29ea1941.090776","type":"ui_group","name":"CA Form","tab":"c488f94.b6bdf08","order":3,"disp":true,"width":"4","collapse":false},{"id":"c18b312.4a0b0d","type":"ui_group","name":"CV Form","tab":"c488f94.b6bdf08","order":4,"disp":true,"width":"4","collapse":false},{"id":"ddb4b43d.d91378","type":"ui_group","name":"LSV Form","tab":"c488f94.b6bdf08","order":5,"disp":true,"width":"4","collapse":false},{"id":"31a6a4a3.65307c","type":"ui_group","name":"Termoelektrik 1","tab":"c488f94.b6bdf08","order":6,"disp":true,"width":"8","collapse":true},{"id":"1d26f242.99360e","type":"ui_group","name":"File Browser","tab":"2523a936.a21b06","order":1,"disp":true,"width":16,"collapse":false},{"id":"2523a936.a21b06","type":"ui_tab","name":"File","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"21ece9b.6316816","type":"ui_spacer","name":"spacer","group":"1d26f242.99360e","order":6,"width":1,"height":1},{"id":"e453fcc3.36ed4","type":"ui_group","name":"Device Manager","tab":"c488f94.b6bdf08","order":1,"disp":true,"width":4,"collapse":false},{"id":"2e6a00fc.aa611","type":"ui_spacer","name":"spacer","group":"1f941fce.65284","order":9,"width":1,"height":1},{"id":"91bb0ad3.8d5ab8","type":"ui_spacer","name":"spacer","group":"1f941fce.65284","order":12,"width":2,"height":1},{"id":"d7b8a2d0.fc35c","type":"ui_spacer","name":"spacer","group":"72a7f0c3.c53ce","order":5,"width":4,"height":1},{"id":"6699d9d7.577bb8","type":"comment","z":"9602e4dc.b193e8","name":"Device Interface","info":"","x":792,"y":140,"wires":[]},{"id":"4b4a49e8.684e98","type":"function","z":"2589ec77.9dba04","g":"ddda3e9e.5d73a","name":"Store & Shift msg","func":"// initialize the text to an empty array if it doesn't exist already in context\nvar text = context.get('text')|| [];\ntext.push(msg);\nif (text.length > 20){\n    text.shift();\n    text.length = 20;\n} \n// store the value back\ncontext.set('text',text);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["16885430.005d1c"]]},{"id":"16885430.005d1c","type":"ui_template","z":"2589ec77.9dba04","g":"ddda3e9e.5d73a","group":"72a7f0c3.c53ce","name":"","order":1,"width":8,"height":5,"format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font> {{x.payload}}\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":120,"wires":[[]]},{"id":"8f959170.ce264","type":"debug","z":"de735fbd.03b6a","g":"f289adb9.43466","name":"graph Monitor","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1320,"y":420,"wires":[]},{"id":"8fa6e97.a6e9518","type":"ui_chart","z":"de735fbd.03b6a","g":"f289adb9.43466","name":"","group":"1f941fce.65284","order":3,"width":12,"height":7,"label":"Potensiostat Chart","chartType":"line","legend":"true","xformat":"x","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1350,"y":380,"wires":[[]]},{"id":"209bc950.c84e66","type":"ui_button","z":"de735fbd.03b6a","g":"f289adb9.43466","name":"","group":"1f941fce.65284","order":6,"width":3,"height":1,"passthru":true,"label":"Clear Chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"reset","topicType":"str","x":1110,"y":320,"wires":[["8fa6e97.a6e9518","5115fbae.23e094"]]},{"id":"6c5365e.424639c","type":"function","z":"de735fbd.03b6a","g":"f289adb9.43466","name":"CV chart  Data","func":"var m = flow.get('graphData')|| {\"data\":[],\"series\":[],\"labels\":[]};\nflow.mode = flow.get('mode') || 'CV';\n\nvar cycle, ms, mV, uA;\n\n\nswitch (msg.topic){\n    //when get msg from dropdown, choose graph type\n    case 'graphType':\n        flow.mode = msg.payload;\n        break;\n        \n    //when get msg elsewhere, treat as data and format according graph type\n    default:\n        switch(flow.mode){\n            case 'CV':\n            case 'LSV':\n                cycle = msg.payload.col1;\n                mV = msg.payload.col2;\n                uA = msg.payload.col3;\n                //add new series and data array for each new cycle\n                if(m.series.indexOf(cycle)==-1){\n                    m.series.push(cycle);\n                    m.data.push([]);\n                }\n                m.data[m.series.indexOf(cycle)].push({\"x\":mV,\"y\":uA});\n                break;\n            case 'CA':\n                if(m.series.indexOf('CA')==-1){\n                    m.series.push('CA');\n                    m.data.push([]);\n                }\n                ms = msg.payload.col1;\n                uA = msg.payload.col3;\n                m.data[m.series.indexOf('CA')].push({\"x\":ms,\"y\":uA});\n                break;\n            \n        }\n    \n}\n\n\n\n// store the value back\nflow.set('graphData',m);\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = [m];\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('graphData', {\"data\":[],\"series\":[],\"labels\":[]});","finalize":"","x":1120,"y":380,"wires":[["8f959170.ce264","8fa6e97.a6e9518"]]},{"id":"816af54e.e6c7e8","type":"csv","z":"de735fbd.03b6a","g":"f289adb9.43466","name":"","sep":",","hdrin":"","hdrout":"once","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":710,"y":380,"wires":[["2f7b818f.071c1e"]]},{"id":"5115fbae.23e094","type":"function","z":"de735fbd.03b6a","g":"f289adb9.43466","name":"delete chart data","func":"// sreset the graph data\nflow.set('graphData', {\"data\":[],\"series\":[],\"labels\":[]});\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":320,"wires":[[]]},{"id":"96b11912.799e08","type":"ui_dropdown","z":"de735fbd.03b6a","g":"ff93bc75.331a7","name":"potensiostat method","label":"Method: ","tooltip":"","place":"Select option","group":"1f941fce.65284","order":1,"width":12,"height":1,"passthru":true,"multiple":false,"options":[{"label":"[CV] Cyclic Voltametry","value":"CV","type":"str"},{"label":"[LSV] Linier Sweep Voltametry","value":"LSV","type":"str"},{"label":"[CA] Chrono Amperometry","value":"CA","type":"str"},{"label":"none","value":"none","type":"str"}],"payload":"","topic":"mode","topicType":"str","x":760,"y":100,"wires":[["44a7d6cd.ba0e08","209bc950.c84e66","201c9207.7eaf9e"]]},{"id":"2f7b818f.071c1e","type":"switch","z":"de735fbd.03b6a","g":"f289adb9.43466","name":"","property":"payload.col1","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":380,"wires":[["6c5365e.424639c"]]},{"id":"44a7d6cd.ba0e08","type":"change","z":"de735fbd.03b6a","g":"ff93bc75.331a7","name":"","rules":[{"t":"set","p":"mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":60,"wires":[[]]},{"id":"db390f82.8dc9d","type":"ui_ui_control","z":"de735fbd.03b6a","g":"ff93bc75.331a7","name":"","events":"all","x":1360,"y":120,"wires":[[]]},{"id":"75a693f8.6af4ec","type":"smooth","z":"de735fbd.03b6a","g":"f289adb9.43466","name":"","property":"payload.col3","action":"low","count":"8","round":"","mult":"single","reduce":false,"x":880,"y":420,"wires":[[]]},{"id":"4fa73dd9.83cca4","type":"comment","z":"7764049a.baef5c","name":"File Browser","info":"1) Update the default folder in the Init node\n2) Update the default folder in the Reset node as well\n3) You can duplicate the Reset nodes and use them as saved shortcuts\n4) Check the Convert Timestamps function node if you want to see your dates in a different format. I just used the Javascript toISOString format.\n5) The Graph button can read any CSV file which have any number of values, but the first column always contains a timestamp column with javascript timestamp of the data point.","x":490,"y":300,"wires":[]},{"id":"d185a45.2327a58","type":"inject","z":"7764049a.baef5c","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"change","payload":"D:\\Dias\\TA-Dias\\node red","payloadType":"str","x":490,"y":360,"wires":[["3d4e5e51.bdf952"]]},{"id":"a715f7a4.a398a8","type":"ui_button","z":"7764049a.baef5c","name":"","group":"1d26f242.99360e","order":2,"width":2,"height":1,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"refresh","topicType":"str","x":480,"y":400,"wires":[["3d4e5e51.bdf952"]]},{"id":"eb17c7ee.e61988","type":"ui_dropdown","z":"7764049a.baef5c","name":"File Selector","label":"","tooltip":"","place":"Select a file","group":"1d26f242.99360e","order":10,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":1290,"y":400,"wires":[["be4830df.5775d"]]},{"id":"dd88bd23.37cde","type":"function","z":"7764049a.baef5c","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a file\n    obj = {};\n    obj [msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":400,"wires":[["eb17c7ee.e61988"]]},{"id":"638728aa.cd0b08","type":"ui_template","z":"7764049a.baef5c","group":"1d26f242.99360e","name":"","order":7,"width":16,"height":4,"format":"<div ng-bind-html=\"msg.payload\" height=\"400\" style=\"height: 400px;\"><br/>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1480,"y":460,"wires":[[]]},{"id":"9d27e846.b31db8","type":"template","z":"7764049a.baef5c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table width=\"100%\">\n    <tr><th>File Name</th><th>Size</th><th>Created</th><th>Changed</th></tr>\n    {{#payload}}\n        <tr>\n            <td><a href=\"/download?filename={{name}}\" target=\"blank\">{{fname}}</a></td>\n            <td>{{stat.size}}</td>\n            <td>{{stat.created}}</td>\n            <td>{{stat.changed}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":1320,"y":460,"wires":[["638728aa.cd0b08"]]},{"id":"3e094f82.15d6e","type":"function","z":"7764049a.baef5c","name":"Convert timestamps","func":"for (var i=0; i<msg.payload.length; i++) {\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n}\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":460,"wires":[["9d27e846.b31db8"]]},{"id":"7b7e0d58.05e244","type":"ui_button","z":"7764049a.baef5c","name":"","group":"1d26f242.99360e","order":11,"width":2,"height":1,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"delete","payload":"","payloadType":"str","topic":"","topicType":"str","x":510,"y":560,"wires":[["8da8147a.999af8"]]},{"id":"7d490dd1.8458b4","type":"function","z":"7764049a.baef5c","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    // and delete the context/selection as we are deleting the file as well\n    flow.set(\"fileselected\");\n    return msg;\n}","outputs":1,"noerr":0,"x":710,"y":620,"wires":[["372ee262.fc94de"]]},{"id":"372ee262.fc94de","type":"file","z":"7764049a.baef5c","name":"Delete file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":920,"y":620,"wires":[["993d7272.843ae","5219875b.c070d8"]]},{"id":"aa8c482.93734b8","type":"http in","z":"7764049a.baef5c","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":520,"y":760,"wires":[["d969ba04.e24028"]]},{"id":"d19cc7d8.646328","type":"http response","z":"7764049a.baef5c","name":"","statusCode":"","headers":{},"x":1310,"y":760,"wires":[]},{"id":"d969ba04.e24028","type":"function","z":"7764049a.baef5c","name":"Get the file name","func":"msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":760,"wires":[["e92381c3.c4cd2"]],"outputLabels":["Folder selected"]},{"id":"e92381c3.c4cd2","type":"file in","z":"7764049a.baef5c","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":960,"y":760,"wires":[["99ff4953.d0d5c8"]]},{"id":"99ff4953.d0d5c8","type":"change","z":"7764049a.baef5c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":760,"wires":[["d19cc7d8.646328"]]},{"id":"2519dd0d.54d6b2","type":"ui_button","z":"7764049a.baef5c","d":true,"name":"","group":"1d26f242.99360e","order":12,"width":2,"height":1,"passthru":false,"label":"Graph","tooltip":"","color":"","bgcolor":"","icon":"show_chart","payload":"","payloadType":"str","topic":"","topicType":"str","x":470,"y":880,"wires":[["30f41c01.358a54"]]},{"id":"30f41c01.358a54","type":"function","z":"7764049a.baef5c","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":880,"wires":[["4f4072b6.0c320c"]]},{"id":"4f4072b6.0c320c","type":"file in","z":"7764049a.baef5c","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":820,"y":880,"wires":[["4d254665.d508e8"]]},{"id":"4d254665.d508e8","type":"csv","z":"7764049a.baef5c","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":970,"y":880,"wires":[["7dcec769.580718"]]},{"id":"84810f0e.43f4e","type":"debug","z":"7764049a.baef5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":840,"wires":[]},{"id":"7dcec769.580718","type":"function","z":"7764049a.baef5c","name":"Format data for chart","func":"var chart = [{\n    \"series\":[],\n    \"data\":[],\n    \"labels\":[msg.filename]\n}];\n\nlet columns = 0;\n\nfor(var series in msg.payload[0]) {\n    if(series!==\"timestamp\") {\n        chart[0].series.push(series);\n        chart[0].data.push([]);\n        columns++;\n    }\n}\n\n\nfor (var j=0; j<msg.payload.length; j++) {\n   for(var i=0;i<columns;i++) {\n       chart[0].data[i].push({\"x\":msg.payload[j].timestamp, \"y\":msg.payload[j][chart[0].series[i]]});\n   } \n}\n\n\n\n\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":880,"wires":[["5022cb53.8adc44","84810f0e.43f4e"]]},{"id":"5022cb53.8adc44","type":"ui_chart","z":"7764049a.baef5c","d":true,"name":"","group":"1d26f242.99360e","order":13,"width":16,"height":5,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1380,"y":880,"wires":[[]]},{"id":"554f0095.ac1b2","type":"ui_toast","z":"7764049a.baef5c","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"topic":"","name":"Confirmation","x":890,"y":560,"wires":[["24df84fe.ebf45c"]]},{"id":"8da8147a.999af8","type":"change","z":"7764049a.baef5c","name":"Set message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Delete confirmation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Are you sure you want to delete this file?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":560,"wires":[["554f0095.ac1b2"]]},{"id":"24df84fe.ebf45c","type":"switch","z":"7764049a.baef5c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":560,"wires":[["7d490dd1.8458b4"]]},{"id":"3d4e5e51.bdf952","type":"function","z":"7764049a.baef5c","name":"Folder handling","func":"let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder=\"/\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('\\\\');\n    the_arr.pop();\n    folder=the_arr.join('\\\\'); \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":460,"wires":[["993d7272.843ae","399ac341.7d43bc","5219875b.c070d8"]]},{"id":"399ac341.7d43bc","type":"ui_text","z":"7764049a.baef5c","group":"1d26f242.99360e","order":1,"width":7,"height":1,"name":"","label":"Folder:","format":"{{msg.payload.start}}","layout":"row-left","x":880,"y":340,"wires":[]},{"id":"b40ea1d8.c700a","type":"ui_button","z":"7764049a.baef5c","name":"","group":"1d26f242.99360e","order":4,"width":2,"height":1,"passthru":false,"label":"Up","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"","payloadType":"str","topic":"up","topicType":"str","x":490,"y":480,"wires":[["3d4e5e51.bdf952"]]},{"id":"80940e39.5035b","type":"ui_button","z":"7764049a.baef5c","name":"","group":"1d26f242.99360e","order":9,"width":2,"height":1,"passthru":false,"label":"Open","tooltip":"","color":"","bgcolor":"","icon":"folder_open","payload":"","payloadType":"str","topic":"","topicType":"str","x":510,"y":680,"wires":[["8c1dfaac.979588"]]},{"id":"8c1dfaac.979588","type":"function","z":"7764049a.baef5c","name":"Change folder","func":"// Get the filename from the flow context\nlet folderselected = flow.get(\"folderselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (folderselected===undefined) {\n    return;\n}\n\nmsg.topic = \"change\";\nmsg.payload = folderselected;\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":680,"wires":[["3d4e5e51.bdf952"]]},{"id":"58414ec4.c716e","type":"ui_button","z":"7764049a.baef5c","name":"","group":"1d26f242.99360e","order":3,"width":2,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"autorenew","payload":"D:\\Dias\\TA-Dias\\node red","payloadType":"str","topic":"change","topicType":"str","x":490,"y":440,"wires":[["3d4e5e51.bdf952"]]},{"id":"37485c24.212054","type":"ui_dropdown","z":"7764049a.baef5c","name":"Folder Selector","label":"","tooltip":"","place":"Select a folder","group":"1d26f242.99360e","order":8,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","topicType":"str","x":1300,"y":500,"wires":[["2875c79f.531558"]]},{"id":"ebc234be.d53fe8","type":"function","z":"7764049a.baef5c","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a foler\n    obj = {};\n    obj [\"[\"+msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+\"]\"]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":500,"wires":[["37485c24.212054"]]},{"id":"be4830df.5775d","type":"change","z":"7764049a.baef5c","name":"Save selection","rules":[{"t":"set","p":"fileselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":400,"wires":[[]]},{"id":"2875c79f.531558","type":"change","z":"7764049a.baef5c","name":"Save selection","rules":[{"t":"set","p":"folderselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":500,"wires":[[]]},{"id":"928e60a7.994be","type":"ui_switch","z":"7764049a.baef5c","name":"","label":"Hidden","tooltip":"Show hidden files or not","group":"1d26f242.99360e","order":5,"width":2,"height":1,"passthru":false,"decouple":"false","topic":"hidden","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"#000000","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"#000000","animate":true,"x":480,"y":520,"wires":[["3d4e5e51.bdf952"]]},{"id":"993d7272.843ae","type":"fs-file-lister","z":"7764049a.baef5c","name":"Files","start":"/home/pi","pattern":"*.*","folders":"*","hidden":false,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":890,"y":400,"wires":[["dd88bd23.37cde","3e094f82.15d6e"]]},{"id":"5219875b.c070d8","type":"fs-file-lister","z":"7764049a.baef5c","name":"Folders","start":"/home/pi","pattern":"*.*","folders":"*","hidden":false,"lstype":"directories","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":900,"y":500,"wires":[["ebc234be.d53fe8"]]},{"id":"1a1b8feb.448ff","type":"function","z":"de735fbd.03b6a","g":"f2ec8474.96f6f8","name":"Store and Submit","func":"context.msg = context.msg || {};\n\ncontext.msg.payload = \n    String(flow.get('mode')) + \" \" +\n    String(msg.payload.param1 || 0) + \" \" +\n    String(msg.payload.param2 || 0) + \" \" +\n    String(msg.payload.param3 || 0) + \" \" +\n    String(msg.payload.param4 || 0) + \" \" +\n    String(msg.payload.param5 || 0);\n\ncontext.msg.topic = env.get(\"deviceTopic\");\n\nreturn context.msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","x":950,"y":560,"wires":[[]]},{"id":"5e9e6d02.386a24","type":"ui_form","z":"de735fbd.03b6a","g":"f2ec8474.96f6f8","name":"CV Form","label":"CV Parameters","group":"c18b312.4a0b0d","order":1,"width":4,"height":1,"options":[{"label":"Start Voltage (mV)","value":"param1","type":"number","required":true,"rows":null},{"label":"End Voltage (mV)","value":"param2","type":"number","required":true,"rows":null},{"label":"Sweep Speed (mV/s)","value":"param3","type":"number","required":true,"rows":null},{"label":"Repeat","value":"param4","type":"number","required":true,"rows":null}],"formValue":{"param1":"","param2":"","param3":"","param4":""},"payload":"","submit":"submit","cancel":"cancel","topic":"CV","topicType":"str","splitLayout":false,"x":720,"y":520,"wires":[["1a1b8feb.448ff","b8105814.8c9b88"]]},{"id":"58681907.c126b8","type":"ui_form","z":"de735fbd.03b6a","g":"f2ec8474.96f6f8","name":"CA Form","label":"CA Parameters","group":"29ea1941.090776","order":1,"width":4,"height":1,"options":[{"label":"High Voltage (mV)","value":"param1","type":"number","required":true,"rows":null},{"label":"Low Voltage (mV)","value":"param2","type":"number","required":true,"rows":null},{"label":"Duration (ms)","value":"param3","type":"number","required":true,"rows":null},{"label":"Frequency (Hz)","value":"param4","type":"number","required":true,"rows":null}],"formValue":{"param1":"","param2":"","param3":"","param4":""},"payload":"","submit":"submit","cancel":"cancel","topic":"CA","topicType":"str","splitLayout":false,"x":720,"y":560,"wires":[["b8105814.8c9b88","1a1b8feb.448ff"]]},{"id":"eb75c1a5.689ad","type":"function","z":"2589ec77.9dba04","g":"ddda3e9e.5d73a","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nswitch (msg.topic){\n    case 'message':\n        context.msg.payload = msg.payload;\n        break;\n    case 'topic':\n        context.msg.topic = msg.payload;\n        break;\n    case 'submit':\n        if(context.msg.topic){\n            return context.msg;\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            return context.msg;\n        }\n}","outputs":"1","noerr":0,"initialize":"","finalize":"","x":570,"y":200,"wires":[[]]},{"id":"ac5604dd.623b38","type":"ui_text_input","z":"2589ec77.9dba04","g":"ddda3e9e.5d73a","name":"Message","label":"Message","tooltip":"","group":"72a7f0c3.c53ce","order":3,"width":8,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"message","topicType":"str","x":400,"y":200,"wires":[["eb75c1a5.689ad"]]},{"id":"49d7561e.9f8a58","type":"ui_button","z":"2589ec77.9dba04","g":"ddda3e9e.5d73a","name":"Submit","group":"72a7f0c3.c53ce","order":4,"width":4,"height":1,"passthru":false,"label":"Send","tooltip":"","color":"","bgcolor":"","icon":"fa-arrow-circle-o-up","payload":"submit","payloadType":"str","topic":"submit","topicType":"str","x":400,"y":240,"wires":[["eb75c1a5.689ad"]]},{"id":"f2dab62e.c451b8","type":"ui_text_input","z":"2589ec77.9dba04","g":"ddda3e9e.5d73a","name":"Topic","label":"MQTT Topic","tooltip":"","group":"72a7f0c3.c53ce","order":2,"width":8,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"str","x":390,"y":160,"wires":[["eb75c1a5.689ad"]]},{"id":"f6dead76.a6ae7","type":"ui_form","z":"de735fbd.03b6a","g":"f2ec8474.96f6f8","name":"LSV Form","label":"LSV Parameters","group":"ddb4b43d.d91378","order":1,"width":4,"height":1,"options":[{"label":"Start Voltage (mV)","value":"param1","type":"number","required":true,"rows":null},{"label":"End Voltage (mV)","value":"param2","type":"number","required":true,"rows":null},{"label":"Sweep Speed (mV/s)","value":"param3","type":"number","required":true,"rows":null},{"label":"Repeat","value":"param4","type":"number","required":true,"rows":null}],"formValue":{"param1":"","param2":"","param3":"","param4":""},"payload":"","submit":"submit","cancel":"cancel","topic":"LSV","topicType":"str","splitLayout":false,"x":720,"y":600,"wires":[["b8105814.8c9b88","1a1b8feb.448ff"]]},{"id":"1b54da7f.c77fa6","type":"subflow:de735fbd.03b6a","z":"9602e4dc.b193e8","name":"","env":[{"name":"TempFile","value":"D:\\Dias\\TA-Dias\\node red\\","type":"str"}],"x":782,"y":320,"wires":[["b548293a.195d88"]]},{"id":"4a62b63d.0c3f78","type":"change","z":"de735fbd.03b6a","g":"ff93bc75.331a7","name":"show CV form","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Kit_Lab_TF_CA_Form\",\"Kit_Lab_TF_LSV_Form\"],\"show\":[\"Kit_Lab_TF_CV_Form\"],\"focus\":true}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":100,"wires":[["db390f82.8dc9d"]]},{"id":"e1786041.99d47","type":"serial in","z":"9602e4dc.b193e8","g":"98f9cfee.d5494","name":"","serial":"ba467461.a9b008","x":330,"y":380,"wires":[["ef05c705.ea1748"]]},{"id":"6b97d0af.3ab2c","type":"switch","z":"508301ef.d6c0b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"pot/head","vt":"str"},{"t":"cont","v":"pot/data","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":80,"wires":[["87ba03b3.0b3c7"],["397dd94a.2b4d16"]]},{"id":"a03e0e29.ada7a","type":"comment","z":"de735fbd.03b6a","name":"Temporary File","info":"","x":440,"y":300,"wires":[]},{"id":"b74fdd37.5e4b6","type":"file in","z":"de735fbd.03b6a","g":"dc40d590.b20f58","name":"send temp file","filename":"${tempFile}","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1060,"y":860,"wires":[["9dd709df.579088"]]},{"id":"dcd28ce7.f6a9","type":"file","z":"de735fbd.03b6a","g":"dc40d590.b20f58","name":"save file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1040,"y":940,"wires":[[]]},{"id":"ae7f0f8c.16583","type":"ui_button","z":"de735fbd.03b6a","g":"dc40d590.b20f58","name":"Save Temp","group":"1f941fce.65284","order":10,"width":2,"height":1,"passthru":true,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"fa-save","payload":" Saving","payloadType":"str","topic":"save","topicType":"str","x":1050,"y":820,"wires":[["b74fdd37.5e4b6","6ec7bc15.7fd284"]]},{"id":"8284cf62.d71cb","type":"ui_text_input","z":"de735fbd.03b6a","g":"dc40d590.b20f58","name":"save filename","label":"Save as:","tooltip":"","group":"1f941fce.65284","order":11,"width":10,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"saveFile","topicType":"str","x":740,"y":820,"wires":[["da2bdcb0.70bc5"]]},{"id":"4b763ea9.0078f","type":"change","z":"de735fbd.03b6a","g":"dc40d590.b20f58","name":"","rules":[{"t":"set","p":"saveFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":940,"wires":[[]]},{"id":"2fc6fdcd.390ad2","type":"template","z":"de735fbd.03b6a","g":"dc40d590.b20f58","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{fileDirectory}}{{payload}}.csv","output":"str","x":720,"y":900,"wires":[["4b763ea9.0078f"]]},{"id":"70f5645d.90803c","type":"file","z":"de735fbd.03b6a","g":"e84dd261.7bf5c","name":"append temp","filename":"${tempFile}","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":470,"y":380,"wires":[["816af54e.e6c7e8"]]},{"id":"7f6ae352.c4c7fc","type":"file","z":"de735fbd.03b6a","g":"f2ec8474.96f6f8","name":"overwrite temp","filename":"${tempFile}","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1160,"y":520,"wires":[[]]},{"id":"b8105814.8c9b88","type":"change","z":"de735fbd.03b6a","g":"f2ec8474.96f6f8","name":"delete temp file","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":520,"wires":[["7f6ae352.c4c7fc","209bc950.c84e66"]]},{"id":"9dd709df.579088","type":"change","z":"de735fbd.03b6a","g":"dc40d590.b20f58","name":"insert save filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"saveFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":900,"wires":[["dcd28ce7.f6a9"]]},{"id":"6ec7bc15.7fd284","type":"ui_toast","z":"de735fbd.03b6a","g":"dc40d590.b20f58","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"Save File","cancel":"Cancel","raw":false,"topic":"","name":"","x":1250,"y":820,"wires":[]},{"id":"da2bdcb0.70bc5","type":"change","z":"de735fbd.03b6a","g":"dc40d590.b20f58","name":"","rules":[{"t":"set","p":"fileDirectory","pt":"msg","to":"fileDirectory","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":860,"wires":[["2fc6fdcd.390ad2"]]},{"id":"201c9207.7eaf9e","type":"switch","z":"de735fbd.03b6a","g":"ff93bc75.331a7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"CV","vt":"str"},{"t":"eq","v":"CA","vt":"str"},{"t":"eq","v":"LSV","vt":"str"},{"t":"eq","v":"none","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1010,"y":120,"wires":[["4a62b63d.0c3f78"],["c35c63e9.8412e"],["49a097b4.442cf8"],["10fb5dca.dba872"]]},{"id":"533a5a91.a04ca4","type":"change","z":"de735fbd.03b6a","g":"ff93bc75.331a7","name":"show/hide form","rules":[{"t":"change","p":"payload","pt":"msg","from":"CV","fromt":"str","to":"{\"group\":{\"hide\":[\"Kit_Lab_TF_Potensiostat1_CA_Form\",\"Kit_Lab_TF_Potensiostat1_LSV_Form\"],\"show\":[\"Kit_Lab_TF_Potensiostat1_CV_Form\"],\"focus\":true}}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"CA","fromt":"str","to":"{\"group\":{\"hide\":[\"Kit_Lab_TF_Potensiostat1_CV_Form\",\"Kit_Lab_TF_Potensiostat1_LSV_Form\"],\"show\":[\"Kit_Lab_TF_Potensiostat1_CA_Form\"],\"focus\":true}}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"LSV","fromt":"str","to":"{\"group\":{\"hide\":[\"Kit_Lab_TF_Potensiostat1_CA_Form\",\"Kit_Lab_TF_Potensiostat1_CV_Form\"],\"show\":[\"Kit_Lab_TF_Potensiostat1_LSV_Form\"],\"focus\":true}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":140,"wires":[[]]},{"id":"c35c63e9.8412e","type":"change","z":"de735fbd.03b6a","g":"ff93bc75.331a7","name":"show CA form","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Kit_Lab_TF_CV_Form\",\"Kit_Lab_TF_LSV_Form\"],\"show\":[\"Kit_Lab_TF_CA_Form\"],\"focus\":true}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":140,"wires":[["db390f82.8dc9d"]]},{"id":"49a097b4.442cf8","type":"change","z":"de735fbd.03b6a","g":"ff93bc75.331a7","name":"show LSV form","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Kit_Lab_TF_CV_Form\",\"Kit_Lab_TF_CA_Form\"],\"show\":[\"Kit_Lab_TF_LSV_Form\"],\"focus\":true}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":180,"wires":[["db390f82.8dc9d"]]},{"id":"887376bf.2eb1c8","type":"ui_button","z":"de735fbd.03b6a","g":"f2ec8474.96f6f8","name":"Stop","group":"1f941fce.65284","order":7,"width":3,"height":1,"passthru":true,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"fa-stop","payload":"S","payloadType":"str","topic":"${deviceTopic}","topicType":"str","x":710,"y":640,"wires":[[]]},{"id":"36224c14.f97004","type":"comment","z":"9602e4dc.b193e8","name":"Input","info":"","x":350,"y":140,"wires":[]},{"id":"d3fd20f0.87f3a","type":"mqtt in","z":"9602e4dc.b193e8","d":true,"g":"98f9cfee.d5494","name":"","topic":"pot/data","qos":"2","datatype":"auto","broker":"740b9fb6.632d3","x":330,"y":340,"wires":[[]]},{"id":"b548293a.195d88","type":"serial out","z":"9602e4dc.b193e8","name":"","serial":"ba467461.a9b008","x":1078,"y":340,"wires":[]},{"id":"557c2899.852a18","type":"mqtt out","z":"9602e4dc.b193e8","name":"mqtt","topic":"","qos":"","retain":"","broker":"740b9fb6.632d3","x":1078,"y":220,"wires":[]},{"id":"8e431edd.609bc","type":"ui_toast","z":"9602e4dc.b193e8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"message sent!","name":"sent notice","x":1077,"y":560,"wires":[]},{"id":"e041ba77.1d8158","type":"complete","z":"9602e4dc.b193e8","name":"","scope":["b548293a.195d88","557c2899.852a18"],"uncaught":false,"x":1077,"y":520,"wires":[["8e431edd.609bc"]]},{"id":"c6607d82.b4aeb","type":"comment","z":"9602e4dc.b193e8","name":"Output","info":"","x":1078,"y":140,"wires":[]},{"id":"84c15326.b76f7","type":"ui_button","z":"de735fbd.03b6a","g":"f2ec8474.96f6f8","name":"Info","group":"1f941fce.65284","order":8,"width":3,"height":1,"passthru":true,"label":"Info","tooltip":"","color":"","bgcolor":"","icon":"fa-info","payload":"I","payloadType":"str","topic":"${deviceTopic}","topicType":"str","x":710,"y":680,"wires":[[]]},{"id":"5be89c27.86c9e4","type":"json","z":"542271b6.bba8b","name":"","property":"payload","action":"","pretty":true,"x":460,"y":80,"wires":[["9e28a32e.8612d","b085279d.2b4a18","d0aa9d02.0ef2f","4870e469.b162fc"]]},{"id":"9e28a32e.8612d","type":"change","z":"542271b6.bba8b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[\"headers\"][0]","tot":"msg"},{"t":"set","p":"data0_label","pt":"flow","to":"topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][0]","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":80,"wires":[[]]},{"id":"e0c05c58.94bdc","type":"ui_chart","z":"542271b6.bba8b","name":"","group":"31a6a4a3.65307c","order":1,"width":8,"height":5,"label":"Termoelectric Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1100,"y":200,"wires":[[]]},{"id":"b085279d.2b4a18","type":"change","z":"542271b6.bba8b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[\"headers\"][1]","tot":"msg"},{"t":"set","p":"data1_label","pt":"flow","to":"topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[["742a0144.690d5"]]},{"id":"d0aa9d02.0ef2f","type":"change","z":"542271b6.bba8b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload[\"headers\"][3]","tot":"msg"},{"t":"set","p":"data2_label","pt":"flow","to":"topic","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][3]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":160,"wires":[["742a0144.690d5"]]},{"id":"84a35fc9.95078","type":"inject","z":"542271b6.bba8b","name":"clean chart","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":650,"y":380,"wires":[["a34223ee.f453e"]]},{"id":"a34223ee.f453e","type":"function","z":"542271b6.bba8b","name":"","func":"msg.payload = [];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":380,"wires":[["e0c05c58.94bdc","3754f8a3.cd2588"]]},{"id":"21ea4a0c.f46196","type":"change","z":"542271b6.bba8b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"data0_label","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[[]]},{"id":"d8c5e0b5.02ca3","type":"json","z":"542271b6.bba8b","name":"","property":"payload","action":"","pretty":true,"x":460,"y":220,"wires":[["21ea4a0c.f46196","20f981b4.8bb5ce","931836d6.b53f48","4870e469.b162fc"]]},{"id":"20f981b4.8bb5ce","type":"change","z":"542271b6.bba8b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"data1_label","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[["742a0144.690d5"]]},{"id":"931836d6.b53f48","type":"change","z":"542271b6.bba8b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"data2_label","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][3]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[["742a0144.690d5"]]},{"id":"cace8e79.b4313","type":"ui_button","z":"542271b6.bba8b","name":"","group":"31a6a4a3.65307c","order":2,"width":4,"height":1,"passthru":false,"label":"Clear chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":640,"y":420,"wires":[["a34223ee.f453e"]]},{"id":"742a0144.690d5","type":"function","z":"542271b6.bba8b","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":200,"wires":[["e0c05c58.94bdc"]]},{"id":"4870e469.b162fc","type":"template","z":"542271b6.bba8b","name":"to text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.data}}","output":"str","x":630,"y":480,"wires":[["2ea612f2.e5bb9e"]]},{"id":"3754f8a3.cd2588","type":"file","z":"542271b6.bba8b","name":"","filename":"${tempFile}","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":940,"y":420,"wires":[[]]},{"id":"c6b1e379.ae20b","type":"subflow:542271b6.bba8b","z":"9602e4dc.b193e8","name":"","env":[],"x":782,"y":220,"wires":[["557c2899.852a18"]]},{"id":"2ea612f2.e5bb9e","type":"file","z":"542271b6.bba8b","name":"","filename":"${tempFile}","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":940,"y":480,"wires":[[]]},{"id":"1f8d1234.a969fe","type":"switch","z":"542271b6.bba8b","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"head","vt":"str"},{"t":"cont","v":"data","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":160,"wires":[["5be89c27.86c9e4"],["d8c5e0b5.02ca3"]]},{"id":"c809e951.358598","type":"mqtt in","z":"9602e4dc.b193e8","g":"55bde9ed.3f83c8","name":"","topic":"ITB/TF/labTF3/kit01/01/output/#","qos":"2","datatype":"auto","broker":"740b9fb6.632d3","x":390,"y":220,"wires":[["c6b1e379.ae20b","d7325744.984788"]]},{"id":"8ab2adc8.51f85","type":"ui_form","z":"542271b6.bba8b","g":"10868b6.90f2975","name":"CO Form","label":"Termoelektrik","group":"31a6a4a3.65307c","order":5,"width":8,"height":1,"options":[{"label":"Target Temperature","value":"param1","type":"number","required":true,"rows":null}],"formValue":{"param1":""},"payload":"","submit":"submit","cancel":"cancel","topic":"CO","topicType":"str","splitLayout":false,"x":420,"y":640,"wires":[["bfe2c022.38295","bf8d0fa9.282e9"]]},{"id":"bfe2c022.38295","type":"change","z":"542271b6.bba8b","g":"10868b6.90f2975","name":"delete temp file","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":640,"wires":[["82b4fe95.84423"]]},{"id":"82b4fe95.84423","type":"file","z":"542271b6.bba8b","g":"10868b6.90f2975","name":"overwrite temp","filename":"${tempFile}","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":860,"y":640,"wires":[[]]},{"id":"bf8d0fa9.282e9","type":"function","z":"542271b6.bba8b","g":"10868b6.90f2975","name":"Store and Submit","func":"context.msg = context.msg || {};\n\ncontext.msg.payload = \n     \"CO \" +\n    String(msg.payload.param1 || 0) + \" \" ;\n\ncontext.msg.topic = env.get(\"deviceTopic\");\n\nreturn context.msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","x":650,"y":680,"wires":[[]]},{"id":"7d7b4f05.91cb2","type":"switch","z":"de735fbd.03b6a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"init","vt":"str"},{"t":"cont","v":"head","vt":"str"},{"t":"cont","v":"data","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":170,"y":380,"wires":[["9d2d3634.616808"],["70f5645d.90803c","a7aa5edd.601f7"],["70f5645d.90803c"]]},{"id":"87ba03b3.0b3c7","type":"change","z":"508301ef.d6c0b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"pot/head","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"publish pot/head","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":120,"wires":[[]]},{"id":"397dd94a.2b4d16","type":"change","z":"508301ef.d6c0b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"pot/data","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"publish pot/data ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":160,"wires":[[]]},{"id":"7bad0b41.6e29a4","type":"comment","z":"508301ef.d6c0b","name":"Format COM input to resemble MQTT Input","info":"","x":260,"y":200,"wires":[]},{"id":"594f81b9.e0207","type":"inject","z":"9602e4dc.b193e8","name":"init","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"init","x":625,"y":140,"wires":[["1b54da7f.c77fa6","c6b1e379.ae20b"]]},{"id":"9d2d3634.616808","type":"change","z":"de735fbd.03b6a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"none","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":140,"wires":[["96b11912.799e08"]]},{"id":"a7aa5edd.601f7","type":"ui_text","z":"de735fbd.03b6a","g":"f289adb9.43466","group":"1f941fce.65284","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":710,"y":320,"wires":[]},{"id":"10fb5dca.dba872","type":"change","z":"de735fbd.03b6a","g":"ff93bc75.331a7","name":"hide All","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Kit_Lab_TF_CV_Form\",\"Kit_Lab_TF_CA_Form\",\"Kit_Lab_TF_LSV_Form\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":220,"wires":[["db390f82.8dc9d"]]},{"id":"60b7cbee.891434","type":"ui_switch","z":"9602e4dc.b193e8","g":"8d017bc1.073408","name":"PSOC 1 UI","label":"Potensiostat 1","tooltip":"","group":"e453fcc3.36ed4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Kit_Lab_TF_PSoC_1","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":630,"y":1020,"wires":[["3811f581.6eb42a"]]},{"id":"96a1752c.9bf608","type":"ui_ui_control","z":"9602e4dc.b193e8","g":"8d017bc1.073408","name":"","events":"all","x":1080,"y":1020,"wires":[[]]},{"id":"4effa46f.f4049c","type":"change","z":"9602e4dc.b193e8","g":"8d017bc1.073408","name":"show group","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[],\"show\":[]}}","tot":"json"},{"t":"set","p":"payload.group.show[0]","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1020,"wires":[["96a1752c.9bf608"]]},{"id":"87c5f2ad.bf361","type":"ui_switch","z":"9602e4dc.b193e8","g":"8d017bc1.073408","name":"TEC 1 UI","label":"Termoelektrik 1","tooltip":"","group":"e453fcc3.36ed4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Kit_Lab_TF_Termoelektrik_1","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":620,"y":1060,"wires":[["3811f581.6eb42a"]]},{"id":"3811f581.6eb42a","type":"switch","z":"9602e4dc.b193e8","g":"8d017bc1.073408","name":"true/false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":1040,"wires":[["4effa46f.f4049c"],["c29fdc5d.3939d"]]},{"id":"c29fdc5d.3939d","type":"change","z":"9602e4dc.b193e8","g":"8d017bc1.073408","name":"hide group","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[],\"show\":[]}}","tot":"json"},{"t":"set","p":"payload.group.hide[0]","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1060,"wires":[["96a1752c.9bf608"]]},{"id":"29c4bac3.06a9b6","type":"ui_switch","z":"9602e4dc.b193e8","g":"8d017bc1.073408","name":"Serial Log UI","label":"Serial Input Log","tooltip":"","group":"e453fcc3.36ed4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"Kit_Lab_TF_Serial_Input_Log","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":630,"y":1100,"wires":[["3811f581.6eb42a"]]},{"id":"a55436d8.72bf58","type":"inject","z":"9602e4dc.b193e8","g":"8d017bc1.073408","name":"start open","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":430,"y":1020,"wires":[["60b7cbee.891434","29c4bac3.06a9b6"]]},{"id":"17f7c335.98676d","type":"inject","z":"9602e4dc.b193e8","g":"8d017bc1.073408","name":"start closed","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":430,"y":1060,"wires":[["87c5f2ad.bf361"]]},{"id":"d7325744.984788","type":"subflow:2589ec77.9dba04","z":"9602e4dc.b193e8","x":782,"y":400,"wires":[["b548293a.195d88","557c2899.852a18"]]},{"id":"ca9b15ab.1b0628","type":"comment","z":"9602e4dc.b193e8","g":"8d017bc1.073408","name":"Device UI Manager","info":"","x":410,"y":960,"wires":[]},{"id":"740eba2d.a76524","type":"ui_dropdown","z":"de735fbd.03b6a","g":"f2ec8474.96f6f8","name":"Current Range","label":"Current Range ","tooltip":"The Measurement would drift alot if not in proper range!","place":"Select option","group":"1f941fce.65284","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"100uA ","value":"RG 100","type":"str"},{"label":"50uA ","value":"RG 50","type":"str"},{"label":"25uA ","value":"RG 25","type":"str"},{"label":"16uA ","value":"RG 16","type":"str"},{"label":"8uA ","value":"RG 8","type":"str"},{"label":"4uA","value":"RG 4","type":"str"},{"label":"2uA","value":"RG 2","type":"str"}],"payload":"","topic":"${deviceTopic}","topicType":"str","x":740,"y":720,"wires":[[]]},{"id":"316b2768.1e2ca8","type":"file in","z":"542271b6.bba8b","g":"4a45d546.67fe8c","name":"send temp file","filename":"${tempFile}","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":700,"y":820,"wires":[["4dfdde46.97db2"]]},{"id":"71a6cf9.622c13","type":"file","z":"542271b6.bba8b","g":"4a45d546.67fe8c","name":"save file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":680,"y":900,"wires":[[]]},{"id":"37f31c03.cca624","type":"ui_button","z":"542271b6.bba8b","g":"4a45d546.67fe8c","name":"Save Temp","group":"31a6a4a3.65307c","order":3,"width":4,"height":1,"passthru":true,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"fa-save","payload":" Saving","payloadType":"str","topic":"save","topicType":"str","x":690,"y":780,"wires":[["316b2768.1e2ca8","53d4d9c.33ed428"]]},{"id":"7120470.efc7cb8","type":"ui_text_input","z":"542271b6.bba8b","g":"4a45d546.67fe8c","name":"save filename","label":"Save as:","tooltip":"","group":"31a6a4a3.65307c","order":4,"width":8,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"saveFile","topicType":"str","x":380,"y":780,"wires":[["52188836.5e6688"]]},{"id":"ea5367b5.7a7be8","type":"change","z":"542271b6.bba8b","g":"4a45d546.67fe8c","name":"","rules":[{"t":"set","p":"saveFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":900,"wires":[[]]},{"id":"855c62d0.b592c","type":"template","z":"542271b6.bba8b","g":"4a45d546.67fe8c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{fileDirectory}}{{payload}}.csv","output":"str","x":360,"y":860,"wires":[["ea5367b5.7a7be8"]]},{"id":"4dfdde46.97db2","type":"change","z":"542271b6.bba8b","g":"4a45d546.67fe8c","name":"insert save filename","rules":[{"t":"set","p":"filename","pt":"msg","to":"saveFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":860,"wires":[["71a6cf9.622c13"]]},{"id":"53d4d9c.33ed428","type":"ui_toast","z":"542271b6.bba8b","g":"4a45d546.67fe8c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"Save File","cancel":"Cancel","raw":false,"topic":"","name":"","x":890,"y":780,"wires":[]},{"id":"52188836.5e6688","type":"change","z":"542271b6.bba8b","g":"4a45d546.67fe8c","name":"","rules":[{"t":"set","p":"fileDirectory","pt":"msg","to":"fileDirectory","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":820,"wires":[["855c62d0.b592c"]]},{"id":"ef05c705.ea1748","type":"subflow:508301ef.d6c0b","z":"9602e4dc.b193e8","g":"98f9cfee.d5494","name":"","env":[],"x":390,"y":440,"wires":[["1b54da7f.c77fa6","d7325744.984788"],["1b54da7f.c77fa6","d7325744.984788"]]}]